<html>
 <h1>POSTRE QUESILLO VENEZOLANO</h1>
 <h2>Instructivo</h2>

    <img src="../img/quesillo.jpeg" width="500px" height="200px" alt="Quesillo venezolano">



    <p>ingredientes:</p>
    
    <ul>
    <li>azucar 1/2 taza</li>
    <li>huevos 5</li> 
    <li>leche completa liquida 275ml</li>
    <li>leche condensada 1 lata</li>
    <li>vainilla 1 cucharada</li>
    <li>agua 1/4 de taza</li>
    </ul>


    <iframe width="500px" height="200px" src="https://www.youtube.com/embed/9Gjt4KLazFc" title="QUESILLO VENEZOLANO un delicioso, fácil y muy cremoso postre | Muve Flavors" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


<H2>INSTRUCTIVO DE POSTRE DE QUESILLO VENEZOLANO</H2>
<h2>Pasos</h2>

<ol start="1">

<li>hervir el agua y el azucar hasta caramelizar</li>
<li>colocar esta mezcla en el molde y guardar hasta enfriar</li>
<li>mezcla del quesillo:</li> 
<li>colocar en la licuadora el resto de los ingrediente por 2 minutos</li>
<li>vertir la mezcla en el molde caramelizado</li>
<li>cocinar en baño de maria por 30 minutos bien tapado</li>
<li>dejar enfria y desmoldar</li>

</ol>



</html>