<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/Style.css">
    <title>Document</title>
</head>
<body>
    
<h1 id="colornaranja">ESCABECHE DE BERENJENA</h1>
<h2 class="colorazul">Instructivo</h2>

<img src="../img/escabeche.jpeg" width="500px" height="200px" alt="escabeche de berenjena">

<P>ingredientes:
    <UL><li>Berenjena 500gr</li>
        <li>Sal gruesa 2 cucharadas</li>
        <li>Menta 2 hojas</li>
        <li>Ajo 4 dientes</li>
        <li>Vinagre 2 tazas</li>
        <li>Aceite de oliva</li>
</UL>

<iframe width="500px" height="200px" src="https://www.youtube.com/embed/STE66Ylpc24" title="Cómo hacer berenjenas en conserva CRUDAS (¡con mi mamá!) / Cómo hacer conservas - Paulina Cocina" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>




<h2 class="colorazul">Instructivo del Escabeche de Berenjena</h2>
<h2 class="colorazul">Pasos</h2>
<ol start="1">
<li>lavar y cotar las berenjena</li>
<li>colocar las berenjenas en sal gruesa para deshidratar dejarlas 24 horas</li>
<li>sacarles el agua bien escurridas pasar a un plato</li>
<li>luego colocar el vinagre y tapar por 4 horas</li>
<li>colocar en un frasco y apretarlas muy bien y colocar el aceite de oliva</li>
<li>llevar a la heladera por 15 dias</li>
</ol>


</body>
</html>
